{%extends 'juni_juni/base.html'%}

{%block content%}

<form method = 'POST'>
    {%csrf_token%}
    <h1 class = 'center'>Post poet</h1><hr>
    <p>{{form.as_p}}</p>

    {% comment %} <label for= 'headline'>Headline</label>
    <input type ='text' name = 'headline' id = 'headline'><br>

   <legend> <label for= 'description'>Description</label>
    <input type ='text' name = 'description' id = 'description'></legend><hr> {% endcomment %}

    <button type = 'submit' class = 'btn btn-primary btn-sm'>Post</button>
</form>

{%endblock content%}