{%extends 'juni_juni/base.html'%}

{%block  title%} Register - user {%endblock title%}

{%block content%}
<div class = 'mb-3 mt-3'>
    <form method=='POST' action = '"/action_page.php"'>
        {%csrf_token%}
    
        <legend class ='border-bottom mb-4'>Join today</legend>
            <p>{{form.as_p}}</p>
    
   
    <button class ='btn-btn-primary' type = 'submit'>Register</button>
   
</form>
</div>
<div class='border-top pt-3'>
    <small class='text-muted'>
        Already have an account? <a class='ml-2' href ='{%url 'login'%}'> Sign In</a>
    </small>
</div>

{%endblock content%}